<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/email-send" method="post">
        <input type="text" placeholder="Enter The Subject" name="subject">
        <br><br>
        <textarea type="text" placeholder="Enter Your email id" name="email"></textarea>
        <br>
        <button>Send</button>
    </fprm>
</body>
</html>